/* This is only a temporary file until those variables are avaialble via v8 tokens */
[data-color-mode='light'][data-light-theme^='light'],
[data-color-mode='auto'][data-dark-theme^='light'] {
  --label-pink-bgColor-rest: #ffe5f1;
  --label-pink-bgColor-hover: #fdc9e2;
  --label-pink-bgColor-pressed: #f8a5cf;
  --label-pink-fgColor: #6e2b53;
  --label-plum-bgColor-rest: #f8e5ff;
  --label-plum-bgColor-hover: #f0cdfe;
  --label-plum-bgColor-pressed: #e2a7fb;
  --label-plum-fgColor: #651d96;
  --label-purple-bgColor-rest: #f1e5ff;
  --label-purple-bgColor-hover: #e6d2fe;
  --label-purple-bgColor-pressed: #d1b1fc;
  --label-purple-fgColor: #4f21ab;
  --label-indigo-bgColor-rest: #e5e9ff;
  --label-indigo-bgColor-hover: #d2d7fe;
  --label-indigo-bgColor-pressed: #b1b9fb;
  --label-indigo-fgColor: #2d2db4;
  --label-blue-bgColor-rest: #d1f0ff;
  --label-blue-bgColor-hover: #ade1ff;
  --label-blue-bgColor-pressed: #75c8ff;
  --label-blue-fgColor: #003d99;
  --label-cyan-bgColor-rest: #bdf4ff;
  --label-cyan-bgColor-hover: #7ae9ff;
  --label-cyan-bgColor-pressed: #00d0fa;
  --label-cyan-fgColor: #004857;
  --label-teal-bgColor-rest: #c7f5ef;
  --label-teal-bgColor-hover: #89ebe1;
  --label-teal-bgColor-pressed: #22d3c7;
  --label-teal-fgColor: #0a4852;
  --label-pine-bgColor-rest: #bff8db;
  --label-pine-bgColor-hover: #80efb9;
  --label-pine-bgColor-pressed: #1dd781;
  --label-pine-fgColor: #114b36;
  --label-green-bgColor-rest: #caf7ca;
  --label-green-bgColor-hover: #9ceda0;
  --label-green-bgColor-pressed: #54d961;
  --label-green-fgColor: #254b34;
  --label-lime-bgColor-rest: #e3f2b5;
  --label-lime-bgColor-hover: #c7e580;
  --label-lime-bgColor-pressed: #9bd039;
  --label-lime-fgColor: #2f4a21;
  --label-olive-bgColor-rest: #f0f0ad;
  --label-olive-bgColor-hover: #dbe170;
  --label-olive-bgColor-pressed: #b9c832;
  --label-olive-fgColor: #3b4927;
  --label-lemon-bgColor-rest: #f7eea1;
  --label-lemon-bgColor-hover: #f0db3d;
  --label-lemon-bgColor-pressed: #d8bd0e;
  --label-lemon-fgColor: #523f00;
  --label-yellow-bgColor-rest: #ffec9e;
  --label-yellow-bgColor-hover: #ffd642;
  --label-yellow-bgColor-pressed: #ebb400;
  --label-yellow-fgColor: #5c3d00;
  --label-orange-bgColor-rest: #ffe7d1;
  --label-orange-bgColor-hover: #fecfaa;
  --label-orange-bgColor-pressed: #fbaf74;
  --label-orange-fgColor: #70300f;
  --label-amber-bgColor-rest: #ffe9bd;
  --label-amber-bgColor-hover: #ffd48a;
  --label-amber-bgColor-pressed: #ffaf38;
  --label-amber-fgColor: #752f00;
  --label-red-bgColor-rest: #ffe2e0;
  --label-red-bgColor-hover: #fecdcd;
  --label-red-bgColor-pressed: #fda5a7;
  --label-red-fgColor: #880c27;
  --label-coral-bgColor-rest: #ffe5db;
  --label-coral-bgColor-hover: #fecebe;
  --label-coral-bgColor-pressed: #fcab92;
  --label-coral-fgColor: #7e2011;
  --label-gray-bgColor-rest: #e8ecf2;
  --label-gray-bgColor-hover: #d2dae4;
  --label-gray-bgColor-pressed: #b4c0cf;
  --label-gray-fgColor: #424448;
  --label-brown-bgColor-rest: #eeeae2;
  --label-brown-bgColor-hover: #dfd7c8;
  --label-brown-bgColor-pressed: #cbbda4;
  --label-brown-fgColor: #51412f;
  --label-auburn-bgColor-rest: #f2e9e9;
  --label-auburn-bgColor-hover: #e6d6d5;
  --label-auburn-bgColor-pressed: #d4b7b5;
  --label-auburn-fgColor: #5d3937;
}
[data-color-mode='dark'][data-dark-theme^='dark'],
[data-color-mode='auto'][data-light-theme^='dark'] {
--label-pink-bgColor-rest: #2d1524;
  --label-pink-bgColor-hover: #451c35;
  --label-pink-bgColor-pressed: #65244a;
  --label-pink-fgColor: #f4a9cd;
  --label-plum-bgColor-rest: #2a0e3f;
  --label-plum-bgColor-hover: #40125e;
  --label-plum-bgColor-pressed: #5c1688;
  --label-plum-fgColor: #e4a5fd;
  --label-purple-bgColor-rest: #211047;
  --label-purple-bgColor-hover: #31146b;
  --label-purple-bgColor-pressed: #481a9e;
  --label-purple-fgColor: #d2affd;
  --label-indigo-bgColor-rest: #1b183f;
  --label-indigo-bgColor-hover: #25215f;
  --label-indigo-bgColor-pressed: #312c90;
  --label-indigo-fgColor: #b7baf6;
  --label-blue-bgColor-rest: #001a47;
  --label-blue-bgColor-hover: #002766;
  --label-blue-bgColor-pressed: #00378a;
  --label-blue-fgColor: #85c2ff;
  --label-cyan-bgColor-rest: #001f29;
  --label-cyan-bgColor-hover: #002e3d;
  --label-cyan-bgColor-pressed: #014156;
  --label-cyan-fgColor: #45cbf7;
  --label-teal-bgColor-rest: #041f25;
  --label-teal-bgColor-hover: #073036;
  --label-teal-bgColor-pressed: #0a464d;
  --label-teal-fgColor: #24d6c4;
  --label-pine-bgColor-rest: #082119;
  --label-pine-bgColor-hover: #0b3224;
  --label-pine-bgColor-pressed: #0e4430;
  --label-pine-fgColor: #1bda81;
  --label-green-bgColor-rest: #122117;
  --label-green-bgColor-hover: #182f1f;
  --label-green-bgColor-pressed: #214529;
  --label-green-fgColor: #75d36f;
  --label-lime-bgColor-rest: #141f0f;
  --label-lime-bgColor-hover: #1f3116;
  --label-lime-bgColor-pressed: #2c441d;
  --label-lime-fgColor: #9fcc3e;
  --label-olive-bgColor-rest: #171e0b;
  --label-olive-bgColor-hover: #252d10;
  --label-olive-bgColor-pressed: #374115;
  --label-olive-fgColor: #cbc025;
  --label-lemon-bgColor-rest: #291d00;
  --label-lemon-bgColor-hover: #372901;
  --label-lemon-bgColor-pressed: #4f3c02;
  --label-lemon-fgColor: #d7bc1d;
  --label-yellow-bgColor-rest: #2e1a00;
  --label-yellow-bgColor-hover: #3d2401;
  --label-yellow-bgColor-pressed: #5a3702;
  --label-yellow-fgColor: #edb431;
  --label-orange-bgColor-rest: #311708;
  --label-orange-bgColor-hover: #43200a;
  --label-orange-bgColor-pressed: #632f0d;
  --label-orange-fgColor: #f6b06a;
  --label-amber-bgColor-rest: #331300;
  --label-amber-bgColor-hover: #471d00;
  --label-amber-bgColor-pressed: #662c00;
  --label-amber-fgColor: #ffad1f;
  --label-red-bgColor-rest: #3c0614;
  --label-red-bgColor-hover: #58091a;
  --label-red-bgColor-pressed: #790c20;
  --label-red-fgColor: #f7adab;
  --label-coral-bgColor-rest: #351008;
  --label-coral-bgColor-hover: #51180b;
  --label-coral-bgColor-pressed: #72220d;
  --label-coral-fgColor: #fdaa86;
  --label-gray-bgColor-rest: #1c1c1c;
  --label-gray-bgColor-hover: #2a2b2d;
  --label-gray-bgColor-pressed: #393d41;
  --label-gray-fgColor: #b3c0d1;
  --label-brown-bgColor-rest: #241c14;
  --label-brown-bgColor-hover: #342a1d;
  --label-brown-bgColor-pressed: #483a28;
  --label-brown-fgColor: #cdbb98;
  --label-auburn-bgColor-rest: #271817;
  --label-auburn-bgColor-hover: #3a2422;
  --label-auburn-bgColor-pressed: #543331;
  --label-auburn-fgColor: #d4b7b5;
}